#page-heaer h1 {
  font-family: Georgia, Times, Serif ;
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
}

#page-header h2{
  font-family: Georgia, Times, serif;
  font-weight: bolder;
  font-size: 1.5em;
}

 #page-title{
   font-family: Georgia, Times, serif;
   font-size:1.8em;
   font-weight: bold;
}

h2 {
  font-family: Georgia, Times, serif;
  font-size:1.5em;
  font-weight: bolder;
}

body {
  font: normal 1em Verdana, Helvetica, Arial, sans serif
}
